@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");
@import "App.css";
@import "Header.css";

.start {
  display: flex;
  flex-direction: column;
}

body {
  background: #cad3db;
  font-family: "Mulish", sans-serif;
}
