@import "./aliados/Aliados.css";
@import "./app/App.css";
@import "./consejosVerdes/ConsejosVerdes.css";
@import "./consejosVerdes/cardConsejos/CardConsejos.css";
@import "./contactanos/Contactanos.css";
@import "./donaciones/Donaciones.css";
@import "./faq/FAQ.css";
@import "./header/Header.css";
@import "./home/Home.css";
@import "./mision/Mision.css";
@import "./modalNewsletter/ModalNewsletter.css";
@import "./navBar/NavBar.css";
@import "./redes/Redes.css";

:root {
  --brand-primary: #252525;
  --brand-text: #fff;
  --brand-secondary-text: #000;
  --brand-error-text: #ff2626;
  --brand-border: #27FB6B;
  --brand-button: #3d9fff;
  --brand-button-shadow: rgba(61, 159, 255, 0.7);
}
.start {
  display: flex;
  flex-direction: column;
}
body {
  background-color: var(--brand-primary);
  font-family: "Mulish", sans-serif;
  width: 100vw;
}
