@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");
@import "./redes/Redes.css";
@import "./modalNewsletter/ModalNewsletter.css";
@import "./header/Header.css";
@import "./navBar/NavBar.css";
@import "./mision/Mision.css";
@import "./contactanos/Contactanos.css";
@import "./app/App.css";
@import "./home/Home.css";

.start {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #252525;
  background: #252525;
  font-family: "Mulish", sans-serif;
}

