@import "./aliados/Aliados.css";
@import "./app/App.css";

@import "./contactanos/Contactanos.css";


@import "./header/Header.css";
@import "./home/Home.css";
@import "./mision/Mision.css";
@import "./modalNewsletter/ModalNewsletter.css";
@import "./navBar/NavBar.css";
@import "./redes/Redes.css";
@import "./consejosVerdes/ConsejosVerdes.css";
@import "./consejosVerdes/cardConsejos/CardConsejos.css";

:root {
  --brand-primary: #252525;
  --brand-text: #fff;
  --brand-error-text: #ff2626;
  --brand-border: #27FB6B;
}

.start {
  display: flex;
  flex-direction: column;
}
body {
  background-color: var(--brand-primary);
  font-family: "Mulish", sans-serif;
  width: 100vw;
}
