body,
html {
  background-color: #252525;
  height: 100%;
}
.start{
  background-color: #212529;
}
.bgHome__1,
.bgHome__2,
.bgHome__3 {
  background-color: #252525;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgHome__1 {
  background-image: url("./home1.jpeg");
}
.bgHome__2 {
  background-image: url("./home3.jpeg");
  margin-top: 15px;
}
.bgHome__3 {
  background-image: url("./home4.jpeg");
  margin-top: 15px;
}
.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  background: rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
}
.homeTitle {
  font-family: "Euclid Circular A";
}
