.footerNetworks {
  background-color: var(--brand-primary);
  padding: 3vh 0vw;
  width: 100vw;
}
.divNetworksEffects {
  opacity: 0;
  transform: translateY(50px);
  transition: transform, opacity;
  transition-duration: 0.8s;
  transition-timing-function: ease;
}
.divNetworksEffects.show {
  opacity: 1;
  transform: translateY(0);
}
.divNetworks {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.logoNetworksIADS {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: 10vw;
}
.footerNetworksTitle {
  align-self: center;
  color: var(--brand-text);
  display: flex;
  justify-content: center;
  width: 100vw;
}
.footerNetworksLogos {
  justify-content: center;
  align-self: center;
  display: flex;
  padding-top: 1%;
  width: 100vw;
}
.logoNetworks {
  aspect-ratio: 1/1;
  margin: 0% 2vw;
  width: 5vw;
}
