.navBar {
  display: block;
}

.dropDownMenu ul {
  margin: 0;
  padding: 0;
  background: #252525; /*SAME AS BODY*/
  list-style: none;
  width: 100%;
}

.dropDownMenu li {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  width: auto;
}

#subMenu {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  visibility: hidden;
  z-index: 1;
}

/* .dropDownMenu h1 {
  cursor: pointer;
  text-transform: uppercase;
  background: #498553;
  color: #ffffff;
  display: block;
  font: bold 12px/20px sans-serif;
  padding: 12px 60px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
} */

.dropDownMenu .links, .mainH1 {
  cursor: pointer;
  text-transform: uppercase;
  background: #498553;
  color: #ffffff;
  display: block;
  font: bold 12px/20px sans-serif;
  padding: 12px 60px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.dropDownMenu li:hover .links{
  background: #252525;
}
.dropDownMenu li:hover .mainH1{
  background: #252525;
}


li:hover ul#subMenu {
  opacity: 1;
  top: 40px;
  visibility: visible;
}

#subMenu li {
  float: none;
  width: 100%;
}

#subMenu .links:hover {
  background: #d7eadd;
  color: black;
}


#subMenu .links {
  background-color: #252525;
}
