.logoNavBar {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: 3vw;
}
.h1NavBar {
  color: white;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  margin: 0px 0px 0px 2.5%;
  text-align: center;
}
.divNavBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0px;
}
.linkTabNavBar {
  color: white;
  height: 4vw;
}
.linkTabNavBar:hover {
  color: white;
}

.navBarModal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navBarTitle {
  color: black;
}
.navBarDiv {
  display: flex;
  flex-direction: column;
}
