.logoNavBar {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: 3vw;
}
.h1NavBar {
  color: white;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  margin: 0px 0px 0px 2.5%;
  text-align: center;
}
.divNavBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0px;
}
.linkTabNavBar {
  color: white;
  height: 4vw;
}
.linkTabNavBar:hover {
  color: white;
}

.navBarModal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navBarTitle {
  color: black;
}
.navBarDiv {
  display: flex;
  flex-direction: column;
}

.responsiveDrawTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalIngresa {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .boxIngresa {
    width: 40vw;
    height: 35vh;
  }
  .ingresaInput {
    width: 60%;
  }
  .buttonIngresa {
    margin-top: 2.5%;
    height: 5vh;
    width: 15vw;
  }
}
@media (max-width: 768px) {
  .boxIngresa {
    padding: 2%;
    width: 98%;
    height: 70%;
  }
  .ingresaInput {
    width: 100%;
  }
  .buttonIngresa {
    margin-top: 2.5%;
    height: 7vh;
    width: 100%;
  }
}
