.navBar {
  width: 100vw;
}

#logoNavBar {
  width: 60px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.brandH1 {
  color: white;
  text-align: center;
  margin: 0px 10px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}
