.consejos {
  align-items: center;
  background-color: var(--brand-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.consejosDivRow {
  align-items: space-evenly;
  display: flex;
  flex-direction: row;
  height: 35vh;
  justify-content: space-evenly;
  margin-bottom: 35px;
  width: 100vw;
}

@media (min-width: 769px) {
  .consejos {
    padding-top: 7.5%;
  }
  .consejosDiv {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mobileConsejos {
    display: none;
  }
}
@media (max-width: 768px) {
  .consejos {
    padding-top: 20%;
  }
  .consejosDiv {
    display: none;
  }
  .mobileConsejos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}
