.consultas {
  background-color: var(--brand-primary);
  height: 90vh;
  width: 100vw;
}
.consultasTitle {
  color: var(--brand-text);
  height: 10vh;
  padding-top: 2vh;
  text-align: center;
  width: 100%;
}
.dataGrid {
  background-color: azure;
}
.loader {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  position: relative;
  width: 100%;
}
.loaderSquare1,
.loaderSquare2,
.loaderSquare3,
.loaderSquare4 {
  animation: move 4s infinite;
  height: 30px;
  position: absolute;
  width: 30px;
}
.loaderSquare1 {
  animation-delay: -1s;
  background-color: #32936f;
  box-shadow: #32936f 0px 7px 29px 0px;
  transform: translate(-30px, -30px);
}
.loaderSquare2 {
  animation-delay: -2s;
  background-color: #04f06a;
  box-shadow: #04f06a 0px 7px 29px 0px;
  transform: translate(30px, -30px);
}
.loaderSquare3 {
  animation-delay: -3s;
  background-color: rgb(95, 249, 175);
  box-shadow: rgb(95, 249, 175) 0px 7px 29px 0px;
  transform: translate(30px, 30px);
}
.loaderSquare4 {
  animation-delay: -4s;
  background-color: #26a96c;
  box-shadow: #26a96c 0px 7px 29px 0px;
  transform: translate(-30px, 30px);
}
@keyframes move {
  0% {
    transform: translate(-30px, -30px);
  }

  25% {
    transform: translate(30px, -30px);
  }

  50% {
    transform: translate(30px, 30px);
  }

  75% {
    transform: translate(-30px, 30px);
  }

  100% {
    transform: translate(-30px, -30px);
  }
}
