.header {
  background-color: #252525;
  background-image: url("./header3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 120px;
  justify-content: center;
  position: relative;
  width: 100%;
}
.headerDiv {
  align-items: center;
  backdrop-filter: blur(7.6px);
  background: rgba(16, 16, 16, 0.23);
  display: flex;
  justify-content: center;
  width: 100%;
}
.headerTitle {
  align-items: center;
  display: flex;
  flex: 2;
  justify-content: center;
}
.headerH1 {
  color: whitesmoke;
  font-family: "Helvetica Neue";
  font-weight: 500;
  padding-left: 7%;
}
.headerLogo {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.logoIADS {
  aspect-ratio: 1/1;
  object-fit: contain;
  padding-right: 7.5%;
  width: 10vw;
}
