.misionDiv {
  align-items: center;
  background-color: var(--brand-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2.5% 0px 2.5% 0px;
}
.misionTitle {
  justify-content: center;
  text-align: center;
  width: 75vw;
}
.secMision {
  display: flex;
  height: 70vh;
  width: 90vw;
}
.mision,
.vision,
.campos {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
  width: 0px;
  height: 100%;
}
.mision:hover,
.vision:hover,
.campos:hover {
  filter: contrast(120%);
  opacity: 1;
  width: 30vw;
}
.mision:hover > .misionText {
  height: 100%;
  opacity: 1;
  transition: all 1.3s ease;
  visibility: visible;
}
.vision:hover > .visionText {
  height: 100%;
  opacity: 1;
  transition: all 1.5s ease;
  visibility: visible;
}
.campos:hover > .camposText {
  height: 100%;
  opacity: 1;
  transition: all 1.5s ease;
  visibility: visible;
}
.campos:hover > .camposText {
  height: 100%;
  opacity: 1;
  transition: all 3s ease;
  visibility: visible;
}

.mision {
  background-image: url("mision1.jpg");
}
.vision {
  background-image: url("mision2.jpg");
}
.campos {
  background-image: url("mision3.jpg");
}
.misionTitle {
  color: var(--brand-text);
  font-weight: 400;
}
.misionSubtitle,
.visionSubtitle,
.camposSubtitle {
  align-self: center;
  color: var(--brand-text);
  font-weight: 700;
  padding-top: 5%;
}
.misionText,
.visionText,
.camposText,
.camposH4 {
  color: var(--brand-text);
  font-size: large;
  height: 0px;
  opacity: 0;
  padding: 1% 5% 0px 5%;
  text-align: center;
  visibility: hidden;
}

.misionBottomText {
  color: var(--brand-text);
  padding: 2.5% 5% 1% 5%;
  text-align: center;
}
.misionBottomSubText {
  color: var(--brand-text);
  padding: 1% 5% 1% 5%;
  text-align: center;
}
