.mision {
  background-color: #252525;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.misionTitle{
  width: 75%;
  justify-content: center;
  text-align: center;
}
.secMision {
  display: flex;
  width: 85%;
  height: 650px;
}
.mision1,
.mision2,
.mision3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.mision1:hover,
.mision2:hover,
.mision3:hover {
  width: 300px;
  filter: contrast(120%);
  opacity: 1;
}
.mision1:hover > .misionText1 {
  /* display: inline-block; */
  height: 100px;
  transition: all 0.8s ease;
  visibility: visible;
  opacity: 1;
}
.mision2:hover > .misionText2 {
  /* display: inline-block; */
  height: 100px;
  transition: all 0.8s ease;
  visibility: visible;
  opacity: 1;
}
.mision3:hover > .misionText3 {
  /* display: inline-block; */
  height: 100px;
  transition: all 0.8s ease;
  visibility: visible;
  opacity: 1;
}

.mision1 {
  background-image: url("mision1.jpg");
}
.mision2 {
  background-image: url("mision2.jpg");
}
.mision3 {
  background-image: url("mision3.jpg");
}
.misionTitle {
  color: white;
  font-weight: 400;
}
.misionSubtitle {
  padding-top: 5%;
  color: blanchedalmond;
  align-self: center;
  font-weight: 700;
}
.misionText1,
.misionText2,
.misionText3 {
  /* display: none; */
  /* display: block; */
  visibility: hidden;
  opacity: 0;
  height: 0px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  color: white;
  font-size: 16px;
}
