.misionDiv {
  background-color: var(--brand-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.5%;
  padding-top: 7%;
  width: 100vw;
}
@media (max-width: 768px) {
  .misionDiv {
    padding: 20% 0px 2.5% 0px;
  }
}
.misionTitle {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.secMision {
  display: flex;
  padding-left: 2vw;

  height: 70vh;
  width: 98vw;
}
.mision,
.vision,
.campos {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
  width: 0px;
  height: 100%;
}
.mision:hover,
.vision:hover,
.campos:hover {
  filter: contrast(120%);
  opacity: 1;
  width: 30vw;
}
.mision:hover > .misionText {
  height: 100%;
  opacity: 1;
  transition: all 1.3s ease;
  visibility: visible;
}
.vision:hover > .visionText {
  height: 100%;
  opacity: 1;
  transition: all 1.5s ease;
  visibility: visible;
}
.campos:hover > .camposText {
  height: 100%;
  opacity: 1;
  transition: all 1.5s ease;
  visibility: visible;
}
.campos:hover > .camposText {
  height: 100%;
  opacity: 1;
  transition: all 3s ease;
  visibility: visible;
}

.mision {
  background-image: url("mision1.jpg");
}
.vision {
  background-image: url("mision2.jpg");
}
.campos {
  background-image: url("mision3.jpg");
}
.misionTitle {
  color: var(--brand-text);
  font-weight: 400;
}
.misionSubtitle,
.visionSubtitle,
.camposSubtitle {
  align-self: center;
  color: var(--brand-text);
  font-weight: 700;
  padding-top: 5%;
}
.misionText,
.visionText,
.camposText,
.camposH4 {
  color: var(--brand-text);
  font-size: large;
  height: 0px;
  opacity: 0;
  padding: 1% 5% 0px 5%;
  text-align: center;
  visibility: hidden;
}

.misionBottomText {
  color: var(--brand-text);
  padding: 2.5% 5% 1% 5%;
  text-align: center;
}
.misionBottomSubText {
  color: var(--brand-text);
  padding: 1% 5% 1% 5%;
  text-align: center;
}

/* Estilos para dispositivos móviles con un ancho máximo de 767px */
@media only screen and (max-width: 767px) {
  .mobileSec {
    display: block;
    background-color: var(--brand-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5%;
    padding-top: 15%;
    width: 100vw;
    height: 100%;
  }

  .misionDiv {
    display: none;
  }
}

/* Estilos para dispositivos de escritorio con un ancho mínimo de 768px */
@media only screen and (min-width: 768px) {
  .mobileSec {
    display: none;
  }

  .misionDiv {
    display: block;
  }
}
